<!-- <ion-header>
  <ion-toolbar>
    <ion-title>connexion</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <!-- <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">   -->
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">  
    <ion-grid fixed>
      <div class="vague"> 
        <svg viewBox="0 0 500 200" preserveAspectRatio="xMinYMin meet">  
        <path d="M0, 200 C120, 200 150, 0 500, 200 L500, 00 L0, 0 Z" style="stroke:none; fill:rgba(20, 84, 167, 0.651);"></path> 
        </svg> 
      </div>
      <ion-row>
        <ion-col size="12">
          <ion-img src="../assets/img/logo4bleu-removebg-preview.png" alt="logo"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">First Name <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required formControlName="firstName" type="text" placeholder="Entrez votre email"></ion-input>
          </ion-item>
          <ion-label class="error ion-padding" *ngIf="signupForm.controls['email'].errors && signupForm.controls['email'].dirty" color="danger">Email invalide</ion-label>
          <ion-label class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required" color="danger">
          Champ requis.
          </ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Last Name <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required formControlName="lastName" type="text" placeholder="Entrez votre Mot de passe"></ion-input>
          </ion-item>
          <ion-label class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.required" color="danger">
            Champ requis.
          </ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Date Of Birth <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required formControlName="dateOfBirth" type="date" placeholder="01/03/2000"></ion-input>
          </ion-item>
          <ion-label class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.required" color="danger">
            Champ requis.
          </ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-list>
              <ion-radio-group name="role" formControlName="role" value="tesla">
                <ion-list-header>
                  <ion-label>Type Of Account <ion-text color="danger">*</ion-text></ion-label>
                </ion-list-header>
                <ion-item>
                  <ion-label>Restaurateur </ion-label>
                  <ion-radio value="RESTAURATEUR"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Consommateur </ion-label>
                  <ion-radio value="CONSOMMATEUR"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>
          </ion-item>
          <ion-label class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.required" color="danger">
            Champ requis.
          </ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">E-mail <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required formControlName="email" type="mail" placeholder="Entrez votre email"></ion-input>
          </ion-item>
          <ion-label class="error ion-padding" *ngIf="signupForm.controls['email'].errors && signupForm.controls['email'].dirty" color="danger">Email invalide</ion-label>
          <ion-label class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required" color="danger">
            Champ requis.
          </ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Password <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required formControlName="password" [type]="passwordType" placeholder="Entrez votre Mot de passe"></ion-input>
            <ion-icon slot="end"  [name]="passwordIcon" class="passwordIcon" (click)="hideShowPassword()"></ion-icon>
          </ion-item>
          <ion-label class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.required" color="danger">
            Champ requis.
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-margin-vertical">
          <ion-button  block expand="block" color="primary" type="submit" [disabled]="signupForm.invalid">
            Create Account
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-margin-vertical">
          <ion-button  block expand="block" color="primary" [routerLink]="['/login']">
            Already Have an account? Login
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    
    
  </form>
</ion-content>