<ion-header>
  <ion-toolbar>
    <ion-title>Menus</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header>
    <ion-button [routerLink]="['/restaurateur/homepage']">
      <ion-icon name="arrow-back-circle-outline"></ion-icon>
      Return to Dishes
    </ion-button> &nbsp;
    <!-- <ion-title>All Menus</ion-title> -->
    <!-- <ion-button>See All</ion-button> -->
  </ion-list-header>

  <ion-list>
    <ion-item *ngFor="let menu of listMenus">
      <ion-label >{{menu.name}} </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="editMenu(menu._id)" expand="block" fill="clear" block expand="block" color="primary" shape="round">
          <ion-icon name="create-outline"></ion-icon> &nbsp;&nbsp;
        </ion-button>
        <ion-button (click)="deleteMenu(menu._id)" expand="block" fill="clear" shape="round" color="danger">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ion-button [routerLink]="['/restaurateur/menu-form']" block expand="block" color="primary">
    Add Menu
  </ion-button>
</ion-content>
