<ion-header>
  <ion-toolbar>
    <ion-title>dish-form</ion-title>
  </ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content>
  <!-- <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">   -->
  <form [formGroup]="dishForm" (ngSubmit)="onSubmit()">  
    <ion-grid fixed>
      <div class="vague"> 
        <svg viewBox="0 0 500 200" preserveAspectRatio="xMinYMin meet">  
        <path d="M0, 200 C120, 200 150, 0 500, 200 L500, 00 L0, 0 Z" style="stroke:none; fill:rgba(20, 84, 167, 0.651);"></path> 
        </svg> 
      </div>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Name <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required formControlName="name" type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Description <ion-text color="danger">*</ion-text></ion-label>
            <ion-textarea required formControlName="description" type="text" ></ion-textarea>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Price <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required formControlName="prix" type="number"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label>Category</ion-label>
            <ion-select formControlName="categorie" placeholder="Select Category">
              <ion-select-option *ngFor="let category of categories" [value]="category">{{category}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-margin-vertical">
          <ion-button  block expand="block" color="primary" type="submit" [disabled]="dishForm.invalid">
            {{buttonText}}
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-margin-vertical">
          <ion-button  block expand="block" color="danger" [routerLink]="['/restaurateur/homepage']">
            <ion-icon slot="start" name="arrow-back-circle-outline"></ion-icon>
            Come Back to Dish List
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    
    
  </form>
</ion-content>
