<ion-content>
  
  <div class="container">
    <div class="sous">
    </div>
    <ion-header [translucent]="true">
      <!-- <ion-toolbar color="light"> -->
      <ion-toolbar color="lavend">
        <ion-title id="titre" >
          Home Page
        </ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="logout()" expand="block" fill="clear" block expand="block" color="primary" shape="round">
            <ion-icon name="log-out-outline"></ion-icon> &nbsp;&nbsp;
          </ion-button>
          <ion-button (click)="deleteAccount()" expand="block" fill="clear" shape="round" color="danger">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <br> <br> <br> <br> 
    <ion-card id="containerS1">
      <ion-card-header>
        <ion-item>
          <div > 
            <!-- <img src="../assets/icon/favicon.png" alt=""> -->
            <br>
            <ion-label *ngIf="user_info" id="head"> {{user_info.userFirstName}} {{user_info.userLastName}}</ion-label>
            <br>
          </div>
          <br>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <div id="contenu">
          <img src="">
          <h1>{{date_of_today}} </h1>
        </div> 
        <br>

      </ion-card-content>
    </ion-card>
    <div class="container">
      <div class="sous">
      </div>
      <br> <br> <br> <br> 
      <ion-card id="containerS1" ><br>
        <ion-card-header><ion-label id="h"> </ion-label></ion-card-header>
        <ion-card-content>
             <div>
              <ion-item>
                <ion-grid fixed>
                  <ion-row>
                    <ion-col size="12"><h1 class="user-info" position="stacked">Nom:</h1></ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="12"><ion-label class="user-info" *ngIf="user_info">{{user_info.userFirstName}} {{user_info.userLastName}}</ion-label></ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item><br><br>
  
              <ion-item>
                <ion-grid fixed>
                  <ion-row>
                    <ion-col size="12"><h1 class="user-info" position="stacked">E-mail:</h1></ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="12"><ion-label class="user-info" *ngIf="user_info">{{user_info.userEmail}}</ion-label></ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item><br><br>
  
              <ion-item>
                <ion-grid fixed>
                  <ion-row>
                    <ion-col size="12"><h1 class="user-info" position="stacked">Account Type:</h1></ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="12"><ion-label class="user-info" *ngIf="user_info">{{user_info.userRole}}</ion-label></ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item><br><br>
              <ion-button [routerLink]="['/consommateur/update-info']" block expand="block" color="primary">
                Update Info
              </ion-button>
             </div>
         <br>
       </ion-card-content>     
      </ion-card>
    </div>
   
  </div>
  

</ion-content>
