<!-- <ion-header>
  <ion-toolbar>
    <ion-title>connexion</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">  
    <ion-grid fixed>
      <div class="vague"> 
        <svg viewBox="0 0 500 200" preserveAspectRatio="xMinYMin meet">  
        <path d="M0, 200 C120, 200 150, 0 500, 200 L500, 00 L0, 0 Z" style="stroke:none; fill:rgba(20, 84, 167, 0.651);"></path> 
        </svg> 
        </div>
      <ion-row>
        <ion-col size="12">
          <ion-img src="../assets/img/logo4bleu-removebg-preview.png" alt="logo"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">E-Mail <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required formControlName="email" type="mail" placeholder="Entrez votre email"></ion-input>
          </ion-item>
          <ion-label class="error ion-padding" *ngIf="loginForm.controls['email'].errors && loginForm.controls['email'].dirty" color="danger">Email invalide</ion-label>
      <ion-label class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required" color="danger">
        Champ requis.
      </ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Password <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required formControlName="password" [type]="passwordType" placeholder="Entrez votre Mot de passe"></ion-input>
            <ion-icon slot="end"  [name]="passwordIcon" class="passwordIcon" (click)="hideShowPassword()"></ion-icon>
          </ion-item>
          <ion-label class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.required" color="danger">
            Champ requis.
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-margin-vertical">
          <ion-button  block expand="block" color="primary" type="submit" [disabled]="loginForm.invalid">
            Connexion
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-margin-vertical">
          <ion-button  block expand="block" color="primary" [routerLink]="['/signup']">
            No Account? Create An account
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    
    
  </form>
</ion-content>

