










// svg { 
//     display: inline-block; 
//     position: absolute; 
//     top: 0; 
//     left: 0; 
//     z-index: -1; 
//     } 
//     .vague { 
//     display: inline-block; 
//     position: absolute; 
//     width: 100%; 
//     top: 0; 
//     left: 0; 
//     } 
// ion-content {
//     --background: #f7f7f7;
//   }

// ion-item{
//     --ion-background-color: transparent!important;
// }
// ion-input {
//     --background: #3880ff;
//     --color: #ffffff;
//     --padding-bottom: 4px;
//     --padding-end: 4px;
//     --padding-start: 4px;
//     --padding-top: 4px;
//     --placeholder-color: #3880ff;
//     --placeholder-font-style: initial;
//     --placeholder-font-weight: initial;
//     --placeholder-opacity: 0.5;
// }