<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home Page
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" expand="block" fill="clear" block expand="block" color="primary" shape="round">
        <ion-icon name="log-out-outline"></ion-icon> &nbsp;&nbsp;
      </ion-button>
      <ion-button (click)="deleteAccount()" expand="block" fill="clear" shape="round" color="danger">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home Page</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-list-header>
    <ion-title>All Dishes</ion-title>
    <!-- <ion-button>See All</ion-button> -->
  </ion-list-header>

  <ion-list>
    <ion-item *ngFor="let dish of listDishes">
      <ion-label >{{dish.name}} </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="editDish(dish._id)" expand="block" fill="clear" block expand="block" color="primary" shape="round">
          <ion-icon name="create-outline"></ion-icon> &nbsp;&nbsp;
        </ion-button>
        <ion-button (click)="deleteDish(dish._id, dish.name)" expand="block" fill="clear" shape="round" color="danger">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ion-button [routerLink]="['/restaurateur/dish-form']" block expand="block" color="primary">
    Add dish
  </ion-button>
  <br>

  <ion-label color="primary" [routerLink]="['/restaurateur/menus']" routerLinkActive="router-link-active" >See Menus</ion-label>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
