<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Update Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">  
    <ion-grid fixed>
      <div class="vague"> 
        <svg viewBox="0 0 500 200" preserveAspectRatio="xMinYMin meet">  
        <path d="M0, 200 C120, 200 150, 0 500, 200 L500, 00 L0, 0 Z" style="stroke:none; fill:rgba(20, 84, 167, 0.651);"></path> 
        </svg> 
      </div>
      <ion-row>
        <ion-col size="12">
          <ion-img src="../assets/img/logo4bleu-removebg-preview.png" alt="logo"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">First Name <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required formControlName="firstName" type="text" placeholder="Entrez votre email"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Last Name <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required formControlName="lastName" type="text" placeholder="Entrez votre Mot de passe"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-label>Date Of Birth <ion-text color="danger">*</ion-text></ion-label>
          <ion-item>
            <ion-input required formControlName="dateOfBirth" type="date" value="{{userForm.value.dateOfBirth}}"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-margin-vertical">
          <ion-button  block expand="block" color="primary" type="submit" [disabled]="userForm.invalid">
            Update Info
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    
    
  </form>
</ion-content>
