<ion-header>
  <ion-toolbar>
    <ion-title>{{buttonText}} Menu</ion-title>
  </ion-toolbar>
  <!-- <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons> -->
</ion-header>

<ion-content>
  <form [formGroup]="menuForm" (ngSubmit)="onSubmit()">
    <div class="vague"> 
      <svg viewBox="0 0 500 200" preserveAspectRatio="xMinYMin meet">  
      <path d="M0, 200 C120, 200 150, 0 500, 200 L500, 00 L0, 0 Z" style="stroke:none; fill:rgba(20, 84, 167, 0.651);"></path> 
      </svg> 
    </div>
    <ion-item>
      <ion-label position="floating">Name <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required formControlName="name" type="text"></ion-input>
    </ion-item><br>
    <ion-item>
      <ion-label position="floating">Description <ion-text color="danger">*</ion-text></ion-label>
      <ion-textarea required formControlName="description" type="text" ></ion-textarea>
    </ion-item><br>
    <ion-list>
      <ion-item *ngFor="let dish of listDishes;let i = index">
        <input type="checkbox" formArrayName="plats" [checked]="ischecked(dish.name)" (change)="onCheckboxChange($event)" name="dish" id="{{dish.name}}" value="{{dish.name}}">
        <label for="{{dish.name}}">{{dish.name}}</label>
      </ion-item>
    </ion-list>
    <ion-button  block expand="block" color="primary" type="submit" [disabled]="menuForm.invalid">
      {{buttonText}} Menu
    </ion-button>
    <ion-button   block expand="block" color="danger" [routerLink]="['/restaurateur/menus']">
      <ion-icon slot="start" name="arrow-back-circle-outline"></ion-icon>
      Cancel {{buttonText}}
    </ion-button>
  </form>
  
</ion-content>
